.partner-dialog-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.partner-dialog-center {
    //width: 1px;
    //height: 400px;
    //background-color: #eeeeee;
    width: 1px;
    height: 450px;
    background-color: #e8e8e8;
    margin: 10px 30px 30px 30px;
    align-self: center;
}

.partner-dialog-left {
    //flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center
}

.partner-dialog-input-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.partner-dialog-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.partner-dialog-input-hint {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    color: black;
    margin-right: 5px;
    justify-content: flex-end;
    width: 90px;
    span {
        color: #c90000;
        margin-right: 2px;
    }
}

.partner-dialog-input-empty {
    //span {
    //  color: red;
    //  font-size: 10px;
    //}
    font-size: 10px;
    width: 100%;
    color: red;
    padding-left: 110px;
    margin: 2px;
}

.partner-image-container {
    display: flex;
    flex-direction: column;
}

.partner-image-item {
    display: flex;
    flex-direction: row;
}

.partner-dialog-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding-left: 20px;
}

.partner-dialog-right-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.partner-dialog-right-hint {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 14px;
    color: black;
    margin-right: 5px;
    justify-content: flex-end;
    width: 110px;
    span {
        color: #c90000;
        margin-right: 2px;
    }
}

.partner-image-hint {
    display: flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
    margin-right: 5px;
    height: 35px;
    span {
        color: #c90000;
    }
}

.partner-image-empty-hint {
    margin-top: 2px;
    margin-left: 110px;
    span {
        color: #c90000;
        font-size: 10px;
    }
}

.partner-dialog-upload {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: dashed 1px #d1d1d1;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: black;
    padding: 30px;
}

$upload-image-size:170px;
.upload-content {
    position: relative;
    outline: none;
    width: $upload-image-size;
    height: $upload-image-size;
    background-color: transparent;
}

.organization-input {
    position: absolute;
    outline: none;
    background-color: transparent;
    width: $upload-image-size;
    height: $upload-image-size;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.upload-hint {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-image-div {
    width: 100%;
    height: 100%;
    position: absolute;
    outline: none;
    top: 0;
    left: 0;
}

.upload-image {
    width: 100%;
    height: 100%;
    position: absolute;
    outline: none;
}

.upload-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    outline: none;
    padding: 40px;
    top: 0;
    left: 0;
    background-color: rgba(19, 19, 19, 0.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}