.station-img-dialog-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.station-img-dialog-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.station-img-dialog-item-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.station-img-dialog-item-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  .ant-select{
    width: 250px;
  }
  input{
    width: 250px;
  }
}

.station-img-dialog-item-label{
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: 600;
  margin: 0 4px 0 0;
  span{
    color: red;
  }
}

.station-img-dialog-item-placeholder{
  align-self: flex-start;
  margin: 0 0 0 104px;
  color: red;
  margin-bottom: 2px;
}


.station-img-dialog-form-item{
  .ant-form-item-label{
    width: 100px;
    font-weight: 600;
  }

  .ant-select{
    width: 250px;
  }

  input{
    width: 250px;
  }
}

.station-img-dialog-form-file-input{
  .ant-form-item-control-wrapper{
    width: 250px;
  }
  input{
    width: 150px;
    height: 150px;
  }

  .ant-form-item-label{
    width: 100px;
    font-weight: 600;
  }
}

.station-img-dialog-file-box{
  margin:10px 0;
  width: 250px;
  height: 150px;
  position: relative;
}

.station-img-dialog-file-content-box{
  width: 150px;
  height: 150px;
  border: 1px solid rgba(19, 19, 19, 0.2);;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.station-img-dialog-file-add{
  width: 80px;
  height: 80px;
  z-index: 100;
}

.station-img-dialog-file-image{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200;
}

.station-img-dialog-file-input{
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 300;
}

.station-img-dialog-button-box{
  width: 500px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}