<!DOCTYPE html>
<html lang="en">
<head>
    <base href="../../../../" >
    <meta charset="UTF-8">
    <!-- 添加到主屏幕后，全屏显示 -->
    <meta name="apple-touch-fullscreen" content="YES"/>
    <meta name="format-detection" content="telephone=no"/>
    <!-- iphone 运行在全屏模式 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="width=device-width,user-scalable=yes"/>
    <title>办事指南</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css?__inline" />
    <link rel="stylesheet" type="text/css" href="../css/all.css?__inline" />
    <!-- <link rel="stylesheet" type="text/css" href="../css/common.css?__inline"/> -->
    <link rel="stylesheet" type="text/css" href="../css/flow-chart.css?__inline" />
</head>
<body class="bf">
    <div class="wrap flow-chart-wrap bf">
        <!-- 头部start -->
        <header class="topic-bg">
            <div class="header-item topic-bg">
                <a class="header-back back" data-bind="click: back" href="javascript:void(0)"></a>
                <div id="liMarquee" class="title">
                    <div id="itemBanner" class="ell marquee-wrap"></div>
                  <!--   <marquee onMouseOut="this.start()" onMouseOver="this.stop()" data-bind="txet:titleTemp">常用常用到的两个事件</marquee> -->
                </div>
                <!-- <span id="liMarquee" class="title" >办事指南办事指南办事指南办事指南办事指南办事指南</span> -->
            </div>
        </header>
        <!-- 头部end -->

        <!--主要内容-->
        <div id="wrapper" class="flow-chart-wrap top-7 bf ">
            <div class="pinch-zoom">
                <img src="" alt="">
            </div>
        </div>
    </div> 
</body>
<script src="../lib/lib.js"></script>
<script src="../app/flow-chart.js?__inline"></script>
</html>