<!DOCTYPE html>
<html lang="en">
<head>
    <base href="../../../../">
    <meta charset="UTF-8">
    <!-- 添加到主屏幕后，全屏显示 -->
    <meta name="apple-touch-fullscreen" content="YES"/>
    <meta name="format-detection" content="telephone=no"/>
    <!-- iphone 运行在全屏模式 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="width=device-width"/>
    <title>我的驾照</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css?__inline"/>
    <link rel="stylesheet" type="text/css" href="../css/all.css?__inline"/>
    <link rel="stylesheet" type="text/css" href="../lib/picker/picker.css?__inline"/>
    <link rel="stylesheet" type="text/css" href="../css/my-driver-license.css?__inline"/>
</head>
<body>
    <div class="wrap">  
        <!-- 头部 -->
        <header class="topic-bg">
            <div class="header-item topic-bg">
                <a href="javascript:void(0)" class="header-back" data-bind="click: back"></a>
                <span class="f36 cf title">我的驾照</span>
            </div>
        </header> 
        <!-- 主要内容 -->
        <div class="content top-7">
            <!-- form表单 -->
            <div class="bind-license-form f30 bf">
                <form id="carAddForm">
                    <!-- 驾驶证号 -->
                    <div class="driver-num clearfix">
                        <span class="c3 tl in-label fl">驾驶证号</span>
                        <div class="in-value fl">
                            <input type="text" class="f30 c3"  name="JSZH"  placeholder="请输入驾驶证号" maxlength="20" data-bind="value: driverNumText">
                        </div>
                    </div>
                    <!-- 档案编号 -->
                    <div class="doc-num clearfix">
                        <span class="c3 tl in-label fl">档案编号</span>
                        <div class="in-value fl">
                            <input type="text" class=" f30 c3 docNum" name="DABH" placeholder="请输入12位完整档案编号" maxlength="12" data-bind="value: docNumText">  
                        </div>
                    </div>

                    <!-- 发证机关 -->
                    <div class="car-type-num clearfix">
                        <span class="c3 tl in-label fl">发证机关</span>
                        <div id="picker" class="car-type fl" data-index="1" data-bind="value:carType.text,attr:{type:carType.value}" readonly="readonly">
                           <label class="car-text c3" data-bind="text:carType.text"> </label>
                        </div>
                    </div>
                </form> 
            </div>
            <!-- 按钮 -->
            <div class="btn-wrap">
                <p class="cf f36 tc bg-grey btn-bind">绑定</p>
                <p class="cf f36 tc bg-bind btn-bind hide">绑定</p>
            </div>
        </div>
    </div>

<script>
    var CONFIG = {
        path: './public/wcportal/0.0.1/'
    };
</script>
<script src="../lib/lib.js"></script>
<script src="../lib/picker/picker.min.js"></script>
<script src="../app/my-driver-license.js?__inline"></script>
</html>