<!DOCTYPE html>
<html lang="en">

<head>
   <base href="../../../../" >
    <meta charset="UTF-8">
    <!-- 添加到主屏幕后，全屏显示 -->
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="format-detection" content="telephone=no" />
    <!-- iphone 运行在全屏模式 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width"/>
    <title>警方提示解读</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css?__inline" />
    <link rel="stylesheet" type="text/css" href="../css/all.css?__inline" />
     <link rel="stylesheet" type="text/css" href="../css/police-tips-detail.css?__inline" />
</head>

<body>
    <div class="wrap">
        <!-- 头部 start -->
        <header >
            <div class="header-item topic-bg">
                <a class="header-back back" data-bind="click: back" href="javascript:void(0)"></a>
                <span class="header-title ell">安徽公安</span>
            </div>
        </header>
        <!-- 头部 end -->
        <!-- 查询资讯结果 start -->
        <div id="wrapper" class="detail-view hide top-7">
            <div class="police-tip-title"></div>
            <div class="police-tip-datetime"></div>
            <div class="police-tip-content"></div>
        </div>
        <!-- 查询资讯结果 end -->
    </div>
    <div id="sorry" class="empty hide ptop">
        <header class="topic-bg">
            <div class="header-item topic-bg">
                <a class="header-back back" data-bind="click: back" href="javascript:void(0)"></a>
                <span class="ell">警方提示</span>
                <label class="header-share" href="javascript:void(0)"></label>
            </div>
        </header>
        <div class="sorry-warp top-7">
            <div class="empty-ad"></div>
            <p>没有找到您要访问的页面</p>
            <div class="refresh-btn" data-bind="click: refreshClick">刷新</div>
            <div class="close-btn" data-bind="click: back">关闭</div>
        </div>
    </div>
   <script src="../lib/lib.js"></script>
   <script src="../app/police-tips-detail.js?__inline"></script>

</body>
</html>