<!DOCTYPE html>
<html lang="en">

<head>
    <base href="../../../../">
    <meta charset="UTF-8">
    <!-- 添加到主屏幕后，全屏显示 -->
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="format-detection" content="telephone=no" />
    <!-- iphone 运行在全屏模式 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width" />
    <title>用户协议</title>
    <script src="../lib/remCacul/remCacul.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/base.css?__inline" />
    <link rel="stylesheet" type="text/css" href="../css/all.css?__inline" />
    <link rel="stylesheet" type="text/css" href="../css/protocol.css?__inline" />
</head>

<body>
    <!-- 用户协议start -->
    <div class="protocol-wrap">
        <div class="protocol-content">
            <!-- <h1 class="protocol-title">皖警便民服务e网通用户协议</h1> -->
            <div class="article">
                <div class="indent"><span>“皖警便民服务e网通”系安徽省公安厅官方发布，由科大讯飞股份有限公司（以下简称本单位）研发的一款服务于个人与社会公共安全的移动互联网应用（以下简称本平台）。使用本app的用户，应当是具备完全民事权利能力和完全民事行为能力的自然人或适格的法人主体。</span></div>
                
                <strong>一、服务条款确认</strong>

                <div class="indent">用户应当同意本协议的条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击"同意"按钮即表示完全接受本协议项下的全部条款。</div>

                <strong>二、服务条款修改</strong>

                <div class="indent">本平台在必要时可修改服务条款，并在系统上进行更新，一经发布，立即生效。如您继续使用服务，则视为您已接受修订的服务条款。</div>

                <strong>三、用户注册</strong>

                <div class="indent">注册用户在平台进行注册和使用本平台时承诺并确认：</div>

                <div class="indent">1. 提供及时、详尽及准确的个人资料；</div>

                <div class="indent">2. 使用本人手机号码、社保账号、银行卡账号、公积金账号、身份证号、驾驶证号等个人信息进行实名验证；</div>

                <div class="indent">3. 及时更新注册资料；</div>

                <div class="indent">4. 同意接收本平台推送的信息；</div>

                <div class="indent">5. 在申请服务事项办理过程中，按服务内容要求提供真实、准确的要件材料，并及时对上传本平台的要件材料做好更新维护；</div>

                <div class="indent">6. 自愿选择物流快递、网上支付等第三方服务时，及时提供真实姓名、联系地址、联系方式、账户等相关个人信息；</div>

                <div class="indent">7. 不存放与服务申办无关的信息内容。</div>

                <strong>四、使用规则</strong>

                <div class="indent">1. 遵守中华人民共和国相关法律法规，包括但不限于《中华人民共和国计算机信息系统安全保护条例》、《计算机软件保护条例》、《最高人民法院关于审理涉及计算机网络著作权纠纷案件适用法律若干问题的解释(法释[2004]1号)》、《全国人大常委会关于维护互联网安全的决定》、《互联网电子公告服务管理规定》、《互联网新闻信息服务管理规定》、《互联网著作权行政保护办法》和《信息网络传播权保护条例》等有关计算机互联网规定和知识产权的法律和法规、实施办法。</div>

                <div class="indent">2. 用户对其自行发表、上传或传送的内容负全部责任，所有用户不得在本平台任何页面发布、转载、传送含有下列内容之一的信息，否则本平台有权自行处理并不通知用户：</div>

                <div class="indent">(1) 违反宪法确定的基本原则的；</div>

                <div class="indent">(2) 危害国家安全，泄漏国家机密，颠覆国家政权，破坏国家统一的；</div>

                <div class="indent">(3) 损害国家荣誉和利益的；</div>

                <div class="indent">(4) 煽动民族仇恨、民族歧视，破坏民族团结的；</div>

                <div class="indent">(5) 破坏国家宗教政策，宣扬邪教和封建迷信的；</div>

                <div class="indent">(6) 散布谣言，扰乱社会秩序，破坏社会稳定的；</div>

                <div class="indent">(7) 散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</div>

                <div class="indent">(8) 侮辱或者诽谤他人，侵害他人合法权益的；</div>

                <div class="indent">(9) 煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；</div>

                <div class="indent">(10) 以非法民间组织名义活动的；</div>

                <div class="indent">(11) 含有法律、行政法规禁止的其他内容的。</div>

                <div class="indent">3. 用户承诺对其发表或者上传于本平台的所有信息(即属于《中华人民共和国著作权法》规定的作品，包括但不限于文字、图片、音乐、电影、表演和录音录像制品和电脑程序等)均享有完整的知识产权，或者已经得到相关权利人的合法授权；如用户违反本条规定造成本平台被第三人索赔的，用户应全额补偿本平台一切费用(包括但不限于各种赔偿费、诉讼费、律师费及为此支出的其它合理费用)；</div>

                <div class="indent">4. 当第三方认为用户发表或者上传于本平台的信息侵犯其权利，并根据《信息网络传播权保护条例》或者相关法律规定向本平台发送权利通知书时，用户同意本平台可以自行判断决定删除涉嫌侵权信息，除非用户提交书面证据材料排除侵权的可能性，本平台将不会自动恢复上述删除的信息；</div>

                <div class="indent">(1) 不得为任何非法目的而使用网络服务系统；</div>

                <div class="indent">(2) 遵守所有与网络服务有关的网络协议、规定和程序；</div>

                <div class="indent">(3) 不得利用本平台进行任何可能对互联网的正常运转造成不利影响的行为；</div>

                <div class="indent">(4) 不得利用本平台进行任何不利于本平台的行为。</div>

                <div class="indent">5. 如用户在使用网络服务时违反上述任何规定，本平台有权要求用户改正或直接采取一切必要的措施(包括但不限于删除用户张贴的内容、暂停或终止用户使用网络服务的权利)以减轻用户不当行为而造成的影响。</div>

                <strong>五、用户资料及保密</strong>

                <div class="indent">注册时，请您按页面提示提交相关信息。考虑到注册用户是特定的行政相对人，以其账号操作的行为由注册用户承担相应法律责任。注册用户应妥善保管 密码，不得将账号、密码提供给他人使用。建议定期修改密码，以确保账号安全。在不透露单个用户隐私资料的前提下，本平台有权对整个用户数据进行分析并对用户数据进行商业上的利用。</div>

                <div class="indent">为更加有效地向您提供服务，您同意，本单位有权将您注册及使用本平台过程中所提供、形成的信息提供给本平台对接的相关政府部门或公用事业单位等合作单位，本平台不会向您所使用服务所涉及合作单位之外的其他方公开或透露您的个人资料，但下列情况除外。</div>

                <div class="indent">(1) 事先获得用户的明确授权；</div>

                <div class="indent">(2) 根据有关的法律法规要求；</div>

                <div class="indent">(3) 按照相关政府主管部门的要求；</div>

                <div class="indent">(4) 为维护社会公众的利益；</div>

                <div class="indent">(5) 为维护本单位的合法权益。</div>

                <strong>六、责任范围及免责声明</strong>

                <div class="indent">为本平台提供服务的相关公安机关等合作单位，所提供之服务品质及内容由该合作单位自行负责，本平台不保证该信息之准确、及时和完整。</div>

                <div class="indent">下列情形可能影响平台的正常使用，建议用户留意平台管理部门的提示，避免在此类情况下使用平台办理相关事务：</div>

                <div class="indent">(1) 平台在进行系统配置、维护时，需要定期短时间中断服务；</div>

                <div class="indent">(2) 互联网上通路的偶然阻塞，可能造成用户访问的速度下降，甚至短时间不能正常使用本协议规定的服务。</div>

                <div class="indent">对于不可抗力原因所导致平台管理部门无法完全或部分履行本协议的，平台管理部门可据此免责。</div>

                <strong>七、内容所有权</strong>

                <div class="indent">1. 本平台提供的网络服务内容可能包括：文字、软件、声音、图片、录像、 图表等。所有这些内容受版权、商标和其它财产所有权法律的保护。</div>

                <div class="indent">2. 用户只有在获得本单位或其他相关权利人的授权之后才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。</div>

                <strong>八、保障</strong>

                <div class="indent">您同意保障和维护本平台的利益，并承担您或其他人使用您的用户资料造成本平台或任何第三方的损失或损害的赔偿责任。</div>
            </div>
        </div>
    </div>
    <!-- 用户协议end -->
</body>

</html>