#preloader_1 span:nth-child(1),
#preloader_1 span:nth-child(3),
#preloader_1 span:nth-child(26),
#preloader_1 span:nth-child(28),
#preloader_1 span:nth-child(30),
#preloader_1 span:nth-child(32),
#preloader_1 span:nth-child(37),
#preloader_1 span:nth-child(41),
#preloader_1 span:nth-child(43) {
    height: .31rem;
}
#preloader_1 span:nth-child(2),
#preloader_1 span:nth-child(31),
#preloader_1 span:nth-child(54) {
    height: .09rem;
}
#preloader_1 span:nth-child(4),
#preloader_1 span:nth-child(22),
#preloader_1 span:nth-child(25),
#preloader_1 span:nth-child(33),
#preloader_1 span:nth-child(36),
#preloader_1 span:nth-child(42),
#preloader_1 span:nth-child(51),
#preloader_1 span:nth-child(55) {
    height: .18rem;
}
#preloader_1 span:nth-child(5),
#preloader_1 span:nth-child(17),
#preloader_1 span:nth-child(34) {
    height: .36rem;
}

#preloader_1 span:nth-child(6),
#preloader_1 span:nth-child(8),
#preloader_1 span:nth-child(35),
#preloader_1 span:nth-child(29),
#preloader_1 span:nth-child(40) {
    height: .76rem;
}
#preloader_1 span:nth-child(9),
#preloader_1 span:nth-child(12),
#preloader_1 span:nth-child(15) {
    height: 1.2rem;
}

/*98 2*/
#preloader_1 span:nth-child(10) {
    height: 2.18rem;
}


/*72 1*/
#preloader_1 span:nth-child(11) {
    height: 1.6rem;
}
/*20 2*/
#preloader_1 span:nth-child(13),
#preloader_1 span:nth-child(45) {
    height: .44rem;
}
/*42 3*/
#preloader_1 span:nth-child(14),
#preloader_1 span:nth-child(19),
#preloader_1 span:nth-child(48) {
    height: .93rem;
}
/*36 3*/
#preloader_1 span:nth-child(17),
#preloader_1 span:nth-child(44),
#preloader_1 span:nth-child(46) {
    height: 0.8rem;
}
/*6 2*/
#preloader_1 span:nth-child(21),
#preloader_1 span:nth-child(50) {
    height: .13rem;
}
/*26 3*/
#preloader_1 span:nth-child(16),
#preloader_1 span:nth-child(27),
#preloader_1 span:nth-child(38) {
    height: .58rem;
}
/*10 2*/
#preloader_1 span:nth-child(23),
#preloader_1 span:nth-child(52) {
    height: .22rem;
}

/*60 2*/
#preloader_1 span:nth-child(16),
#preloader_1 span:nth-child(39) {
    height: 1.33rem;
}
/*22 4*/
#preloader_1 span:nth-child(20),
#preloader_1 span:nth-child(24),
#preloader_1 span:nth-child(49),
#preloader_1 span:nth-child(53) {
    height: .49rem;
}
/*90 1*/
#preloader_1 span:nth-child(47) {
    height: 2.0rem;  
}