.interests-dialog-form-item-add0{
    width: 322px;

    .ant-form-item-control-wrapper{
        min-height: 40px;
    }

    .ant-form-item-label{
        width: 100px;
    }

    .ant-form-item-children .ant-input{
        width: 200px;
    }

    .dynamic-delete-button{
        margin-left: 8px;
    }
}

.interests-dialog-form-item-add{
    padding-left: 100px;
    .ant-form-item-control-wrapper{
        min-height: 40px;
    }

    .ant-form-item-label{
        width: 100px;
    }

    .ant-form-item-children .ant-input{
        width: 200px;
    }

    .dynamic-delete-button{
        margin-left: 8px;
    }
}

.interests-dialog-form-item-add-coupon{
    width: 322px;
    padding-left: 100px;
    .interests-dialog-form-add{
        width: 200px; 
    }
}