.wrap {
    padding: 0.67rem;
    width: 100%;
    height: 100%;
}

img {
    display: block;
    width: 100%;
    height: 10.51rem;
}


/* 车辆展示信息 */

.car-info-wrap p {
    margin-top: 0.67rem;
    height: 1.78rem;
    line-height: 1.78rem;
}

.car-item {
    /* display: flex;
    justify-content: center; */
    margin-bottom: 0.67rem;
    width: 100%;
    height: 2.18rem;
    border-radius: 0.33rem;
    line-height: 2.18rem;
}

.car-item span {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    /* width: 46%; */
}

.car-item .car-no {
    width: 87%;
    text-indent: 3%;
}

.car-item .icon-del {
    width: 10%;
}

.car-item .icon-del {
    background: url("../image/icon-del.png") center / 1.07rem no-repeat;
}

.bg-blue {
    background: blue;
}

.bg-yellow {
    background: yellow;
}

.bg-green {
    background: green;
}

.btn-add-car {
    margin-bottom: 0.67rem;
    width: 100%;
    height: 2.18rem;
    border-radius: 0.33rem;
    border: 1px solid #ccc;
    line-height: 2.18rem;
    text-align: center;
    background: #fff;
}

.btn-add-car span {
    display: inline-block;
    text-indent: 1.07rem;
    background: url("../image/icon-add.png") left center / 1.07rem no-repeat;
}


/* 收件人信息 */

.info-item {
    display: flex;
    margin-bottom: 0.67rem;
    width: 100%;
    height: 2.18rem;
}

.info-item label {
    display: inline-block;
    width: 25%;
    height: 100%;
    line-height: 2.18rem;
    text-align: left;
}

.info-item input,
.info-item span,
.info-item select {
    display: inline-block;
    width: 75%;
    height: 100%;
    border-radius: 0.33rem;
    text-indent: 0.67rem;
    border: 1px solid #ccc;
    line-height: 2.18rem;
}

textarea {
    margin-left: 25%;
    display: inline-block;
    width: 75%;
    border-radius: 0.33rem;
    text-indent: 0.67rem;
    border: 1px solid #ccc;
    line-height: 2.18rem;
}

.btn-submit {
    margin-top: 1.33rem;
    height: 2.18rem;
    width: 100%;
    line-height: 2.18rem;
    text-align: center;
    border-radius: 0.33rem;
    text-indent: 0.67rem;
    border: 1px solid #ccc;
}