.upload-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.upload-container-input-box{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    left: 0;
    top: 0;
}

.upload-container-input-button{
    min-width: 200px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    color: rgba($color: #000000, $alpha: .6);
    position: relative;
    z-index: 1;
    cursor: pointer;
    span{
        margin-left: 4px;
    }
}

.upload-container-input-button:hover{
    border: 1px solid #1890ff;
}

.upload-input{
    min-width: 200px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.upload-input:hover{
    border: 1px solid #1890ff;
}

.upload-file-box{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-top: 10px;
    padding: 4px 10px;
    overflow: hidden;
}

.upload-file-image{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.upload-name{
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    margin-right: 10px;
}

.upload-delete{
    cursor: pointer;
}