@charset "utf-8";

/*===============================轮播开始=======================================  */

.slider {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    background: #F4F5F9;
}

.slider ul {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.slider ul li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
}


/*===============================轮播结束=========================================  */


/*===================首页start============================*/
body {
    background-color: #fff;
}
.home-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.swiper-wrapper * {
    /*-webkit-overflow-scrolling: auto;*/
}
.swiper-container {
    position: static;
    box-sizing: border-box;
}
/* ================ 头部样式 start =====================*/

.home-top {
    position: absolute;
    padding-top: 0.9rem;
    z-index: 999;
    width: 100%;
    background: rgba(76,114,255, 0);
}

.header-cover {
    position: absolute;
    width: 100%;
    height: 2.08rem;
    opacity: 0;
}

.top-content {
    box-sizing: border-box;
    padding: 0.4rem 0 0.4rem 0.53rem;
    height: 2.08rem;
}

.home-top .area-wrap {
    width: 18%;
    height: 100%;
}

.home-top .area-wrap .area-name {
    max-width: 60%;
    line-height: 1.4rem;
    font-size: 0.62rem;
    color: #fff;
}

.home-top .area-wrap i {
    margin-left: 10%;
    width: 0.44rem;
    height: 100%;
    background: url(./public/wcportal/0.0.1/img/home/down-icon.png) right center no-repeat;
    background-size: 0.44rem 0.26rem;
}

.home-top .search-wrap {
    width: 58%;
    height: 100%;
    background-color: #fff;
    border-radius: 60px;
}

.home-top .search-wrap .search-content {
    padding-left: 19.3%;
    height: 100%;
    background: url(./public/wcportal/0.0.1/img/home/search-icon.png) 10.6% center no-repeat;
    background-size: 0.55rem 0.55rem;
    font-size: 0.57rem;
    color: #999;
    line-height: 1.4rem;
}

.home-top .message-wrap {
    position: relative;
    width: 12%;
    height: 100%;
    background: url(./public/wcportal/0.0.1/img/home/message-icon.png) right 52% center no-repeat;
    background-size: 0.73rem 0.77rem;
}

.home-top .message-wrap i {
    position: absolute;
    top: 10%;
    right: 32%;
    width: 0.22rem;
    height: 0.22rem;
    background: url(./public/wcportal/0.0.1/img/home/red-icon.png) no-repeat;
    background-size: 0.22rem 0.22rem;
}
.home-top .scan-wrap {
    width: 12%;
    height: 100%;
    background: url(./public/wcportal/0.0.1/img/home/icon-sacn.png) center no-repeat;
    background-size: .84rem .8rem;
}




/* ================ 头部样式 end =====================*/

.home-wrap .pullUp {
    height: 0;
}




/* ================ 轮播图样式 start =====================*/

.home-banner {
    position: relative;
    z-index: 22;
    height: 8.98rem;
    overflow: hidden;
}

.home-wrap .slider {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    z-index: 22;
    height: 9.91rem;
}

.home-wrap .slider ul {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    z-index: 22;
}

.home-wrap .slider ul li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    z-index: 22;
}

.home-wrap .slider ul li img {
    display: block;
    width: 100%;
    height: 8.98rem;
}

.slider .focus {
    position: absolute;
    left: 0;
    z-index: 22;
    bottom: 0.44rem;
    width: 100%;
}

.slider .focus-inner {
    /*width: 98%;*/
    margin: 0 auto;
    text-align: center;
}

.slider .focus .owl-dot {
    /*display: inline-block;*/
    float: left;
}

.slider .focus span {
    display: block;
    margin-left: 0.3rem;
    width: 7px;
    height: 7px;
    background: url(./public/wcportal/0.0.1/img/common/dot-grey.png) no-repeat;
    background-size: 100%;
}

.slider .focus span.current {
    opacity: 1;
    background: url(./public/wcportal/0.0.1/img/common/dot-white.png) no-repeat;
    background-size: 100%;
}


/*轮播图样式修改*/
.home-banner .swiper-container {
    position: relative;
    margin: 0 auto;
    /* overflow: hidden; */
    width: 100%;
    z-index: 22; 
    height: 8.98rem;
}
.home-banner .swiper-slide {
    position: relative;
    /*float: left;*/
    /*overflow: hidden;*/
    width: 100%;
    z-index: 22;
}
.home-banner .swiper-slide img {
    display: block;
    width: 100%;
    height: 8.98rem;
}

.home-banner .swiper-container {
    width: 100%;
}
.home-banner .swiper-container .swiper-pagination-bullet {
    display: inline-block;
    margin-left: 0.3rem;
    width: 7px;
    height: 7px;
    background: url(./public/wcportal/0.0.1/img/common/dot-grey.png) no-repeat;
    background-size: 100%;
}
.home-banner .swiper-container .swiper-pagination-bullet-active {
    /*background: #fff;*/
    opacity: 1;
    background: url(./public/wcportal/0.0.1/img/common/dot-white.png) no-repeat;
    background-size: 100%;  
}
.home-banner .swiper-container .swiper-pagination {
    position: absolute;
    top: 7.8rem;
}




/* ================ 轮播图样式 end =====================*/


/* ===================推荐服务样式 start ===============*/

.home-app-entrance {
    padding: 0rem 0.44rem;
    /* background-color: #fff; */
}

.home-wrap .app-slider {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 6.7rem;
    z-index: 99;
}

.home-wrap .app-slider ul {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
}

.home-wrap .app-slider ul li {
    float: left;
    overflow: hidden;
    width: 100%;
}

.home-app-blank {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: block;
    text-align: center;
    display: block;
}

.app-blank {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 111;
}

.app-slider li {
    display: block;
    background-color: #fff;
}

.app-slider li a {
    float: left;
    /*padding-bottom: .33rem;*/
    width: 25%;
}

.app-slider li a img {
    /*margin-top: 0.6rem;
    width: 2.22rem;
    height: 2.22rem;
    width: 1.2rem;
    height: 1.2rem;*/
    margin-top: .22rem;
    width: auto;
    height: 2rem;
    vertical-align: middle;
    /*border-radius: 29% / 37%;*/
}

.app-slider li a .ell {
    font-size: 0.62rem;
    line-height: 1rem;
    color: #222;
    text-align: center;
}

.home-app-img {
    /*padding-top: 0.4rem;*/
    text-align: center;
    position: relative;
}

.dot-inner {
    height: 1rem;
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.dot .owl-dot {
    display: inline-block;
}

.dot span {
    position: relative;
    top: -0.18rem;
    display: block;
    vertical-align: middle;
    margin-left: 0.26rem;
    width: 0.26rem;
    height: 0.26rem;
    background: url(./public/wcportal/0.0.1/img/common/dot.png) no-repeat;
    background-size: 100%;
}

.dot span.now {
    background: url(./public/wcportal/0.0.1/img/common/dot-blue.png) no-repeat;
    background-size: 100%;
}

.home-wrap .tag-holder {
    color: #fff;
    font-size: 0.33rem;
    position: absolute;
    bottom: -0.18rem;
    background: url(./public/wcportal/0.0.1/img/common/tag.png) no-repeat;
    line-height: .75rem;
    width: 2.22rem;
    text-align: center;
    background-size: 1.98rem;
}

.download {
    display: inline-block;
    width: 100%;
    height: 2.1rem;
    border-radius: 40% / 19%;
    text-align: center;
}

.download-progress {
    display: none;
}

.download-progress .fliter {
    width: 1.8rem;
    height: 2rem;
    background-color: #000;
    opacity: .5;
    position: absolute;
    border-radius: 54% / 15%;
    text-align: center;
    text-indent: .1em;
    z-index: 99;
    left: 1.1rem;
}

.download-progress .progress-info {
    position: absolute;
    z-index: 100;
    left: 1.2rem;
    top: 1rem;
}

.download-progress .progress-info p {
    color: #fff;
    font-size: .58rem;
    line-height: 1.2rem;
}

.download-progress .progress {
    width: 1.6rem;
    height: .16rem;
    background-color: #006E89;
    border-radius: 30px;
}

.download-progress .progress-bar {
    height: 99%;
    width: 1rem;
    background-color: #369fef;
    border-radius: inherit;
}


/* =================== 推荐服务样式 end ===============*/


/* =============== 运营位样式 start =====================*/

.title-wrap {
    overflow: hidden;
    padding: .5rem 0;
    height: 1.04rem;
}

.title-wrap .title-name {
    padding-left: 1.04rem;
    margin-top: .08rem;
    background: url(./public/wcportal/0.0.1/img/home/title-icon.png) 0.57rem center no-repeat;
    background-size: 0.13rem 0.66rem;
    font-size: 0.76rem;
    /*font-weight: 600;*/
    color: #333;
}

.title-wrap .more {
    margin-top: .18rem;
    padding-right: 1.2rem;
    background: url(./public/wcportal/0.0.1/img/home/right-icon.png) right 0.71rem center no-repeat;
    background-size: 0.26rem 0.51rem;
    font-size: 0.6rem;
    color: #999;
}

.home-activity .activity-item {
    float: left;
    box-sizing: border-box;
    width: calc(33.4% - 1px);
    height: 3.3rem;
    /*border-top: 1px solid #f0f0f0;*/
}

.home-activity .activity-item.even {
    border-left: 1px solid #f0f0f0;
}

.home-activity .operation-name {
    display: block;
    width: 56%;
    height: 100%;
    text-align: center;
    font-size: 0.66rem;
    color: #333;
    line-height: 3.3rem;
}

.home-activity img {
    margin-top: 0.66rem;
    width: 2.31rem;
    height: 2.11rem;
}

.activity-content {
    overflow: hidden;
    height: 3.3rem;
    width: 100%;
    font-size: 0.53rem;
    line-height: 0.87rem;
    color: #B0B0AD;
    border-top: 1px solid #f0f0f0;
}

/* =============== 运营位样式 end =====================*/


/* ===============警网头条样式 start =================*/

.home-news {
    background-color: #fff;
}

.home-news .title-wrap {
    background: url(./public/wcportal/0.0.1/img/common/border-icon.png) left bottom 1px repeat-x;
}

.city-news {
    padding: 0 3.61%;
}

/* ===============警网头条样式 end =================*/

.no-line {
    padding-bottom: .5rem;
    font-size: 0.6rem;
    text-align: center;
    color: #999;
    line-height: 2rem;
    
}

/*======== 回到顶部 ===========*/
.to-top {
    z-index: 6;
    position: absolute;
    right: 0.3rem;
    bottom: 0.5rem;
    width: 2.88rem;
    height: 2.88rem;
    background: url(./public/wcportal/0.0.1/img/common/to-top.png) no-repeat;
    background-size: 2.88rem 2.88rem;
}
.interval-f5 {
    height: 0.44rem;
    background: #f5f5f5;
}
.top-tab-wrap {
    position: relative;
    top: 3rem;
    height: 2.1rem;
    width: 100%;
    font-size: 0;
    background: #fff;
    /*z-index: 26;*/
}
.top-tab-wrap .tab-item {
    margin: 0;
    display: inline-block;
    width: 33.33%;
    height: calc(100% - 1px);
    font-size: 0.72rem;
    color: #999;
    background: #fff url(./public/wcportal/0.0.1/img/common/border-icon.png) left bottom 1px repeat-x;
    border-radius: 0;
    opacity: 1;
    line-height: 2.1rem;
    text-align: center;
}
.top-tab-wrap .tab-item span {
    display: inline-block;
    width: auto;
    height: 100%;
    background: none;
    border-radius: 0;
}
.top-tab-wrap .tab-item-active span{
    display: block;
    color: #000;
    height: calc(100% - .14rem);
    background: url(../img/police-headline/icon-border.png) center bottom / 1.18rem .1rem no-repeat;
}
.sub-opacity {
    opacity: 0.5;
}



/* =====swiper-tab样式修改===== start*/
.swiper-wrapper {
    max-height: 100%;
}
.sw {
    position: absolute;
    width: auto;
}
.swiper-slide {
    box-sizing: border-box;
    min-height: calc(100vh - 5.5rem);
}
.tab-wrapper {
    background: #fff;
}
.tab-wrapper .swiper-pagination {
    position: static;
}
.tab-wrapper .swiper-pagination-bullets {
    top: 0;
    height: 2.1rem;
    width: 100%;
}
.tab-wrapper .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    width: 33.33%;
    height: calc(100% - 1px);
    font-size: 0.72rem;
    color: #999;
    background: #fff url(./public/wcportal/0.0.1/img/common/border-icon.png) left bottom 1px repeat-x;
    border-radius: 0;
    opacity: 1;
    line-height: 2.1rem;
} 
.tab-wrapper .innner-item {
    display: inline-block;
    width: auto;
    height: 100%;
    background: none;
    border-radius: 0;
} 
.tab-wrapper .swiper-pagination-bullet-active .innner-item {
    display: block;
    color: #000;
    height: calc(100% - .14rem);
    background: url(../img/police-headline/icon-border.png) center bottom / 1.18rem .1rem no-repeat;
}
.tab-wrapper {
    width: 100%;
    height: 2.1rem;
    /*苹果手机*/
    /*position: sticky;*/
    /*position: -webkit-sticky;*/
    /*top: 0;*/
    /*z-index: 19*/
}
.tab-wrapper .swiper-pagination.tab-fixed {
    position: fixed;
    top: 2.9rem;
    z-index: 19;
}
.mescroll {
    position: absolute;
    top: 0;
    bottom: .8rem;
    width:100%;
    height: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
/* =====swiper-tab样式修改===== end*/

/*警网头条头部*/

.cd4 {
    color: #d4d4d4;
}
.wrap {
    height: 100%;
}
.wrap header {
    height: 2.1rem;
    background: #fff;
    top:0;
    position: fixed;
}
.header-items {
    padding: .33rem 4.2% .33rem 0;
    height: 1.44rem;
    width: 95.8%;
    font-size: 0;
    background: #fff; 
}
/* ======头部返回按钮 ====== start*/
.header-backs {
    display: inline-block;
    padding: 0 3%;
    width: .36rem;
    height: 100%;
    background: url('../img/police-headline/icon-back.png') no-repeat center;
    background-size: .36rem .66rem;
}
.head-title {
    display: inline-block;
    margin: 0 .67rem;
    width: 3.78rem;
    height: 100%;
    background: url('../img/police-headline/icon-title.png') no-repeat left center;
    background-size: 3.78rem .89rem;
}
/*搜索框部分*/
.search-wrap {
    display: inline-block;
    width: calc(94% - 5.48rem);
    height: 100%;
    background: #f6f6f6;
    border-radius: 0.16rem;
}
.icon-search {
    display: inline-block;
    margin: 0 .67rem 0 .33rem;
    width: 0.69rem;
    height: 100%;
    background: url('../img/police-headline/icon-search.png') no-repeat left center;
    background-size: 0.69rem;
}
.notice {
    display: inline-block;
    width: calc(100% - 1.69rem);
    line-height: 1.44rem;
    vertical-align: top;
}
.abs {
    position: absolute;
    width: 100%;
    height: calc(100% - 3rem);
}
.abss {
    position: fixed;
}
.swiper-abs {
    position: fixed;
    top: 3rem !important;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100000;
}
.tab-abs {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    /*bottom: 0*/
}
/* ======头部返回按钮 ====== end*/
/*====推荐样式、本地、警微热点样式 start====*/
.home-news {
    padding: 0 4.2%;
    width: 91.6%;
}

/*=警微热点样式 start=*/
.blog-news-content,
.blog-news-item {
    width: 100%;
    background: #f5f5f5;
}
.item-content {
    padding: .38rem 4.2% 0.56rem;
    width: 91.6%;
    background: url(./public/wcportal/0.0.1/img/common/border-icon.png) left bottom 1px repeat-x;
}
.blog-news-item {
    background: #fff;
    margin-bottom: .44rem;
}
.item-title {
    padding: 0 .44rem;
    color: #3a4981;
}
.item-date {
    padding: 0 .22rem
}
.item-header {
    /*margin: 0 0 .38rem 0;*/
    height: 1.46rem;
    padding: .38rem 0;
    font-size: 0;
}
.item-header span {
    display: inline-block;
    vertical-align: top;
    line-height: 1.46rem;
}
.item-header .my-photo {
    display: inline-block;
    width: 1.46rem;
    height: 1.46rem;
    border-radius: .73rem;
    /* background: pink; */
}
.full-text {
    color: #4c72ff;
}
.img-list {
    flex-wrap: wrap; /* 自动换行*/
    margin-top: 0.56rem !important;
}
/*一行展示一个图片*/
.img-item-one {
    /*max-height: 0.87rem; /* 单张图片最大高度*/
    width: 9.84rem;
    height: 7.42rem;
}
.img-list .img-item-one img {
    display: block;
    width: auto;
    max-width: 14.67rem;
    min-width: 4.2rem;
    height: 7.42rem;
}
/*一行展示3张图片*/
.img-item-two,
.img-item-three {
    width: calc(33% - .14rem);
    height: 4.8rem;
}
.img-item-two-mar {
    margin-left: .21rem;
    margin-right: calc(34% - .14rem);
}
.img-item-mar {
    margin-left: .21rem;
}
.img-item-two img,
.img-item-three img {
    display: block;
    width: 100%;
    height: 100%;
}
.img-item-btom {
    margin-bottom: .21rem;
}
/* 视频 */
.vedio-unit {
    position: relative;
    margin-top: .44rem;
    width: 100%;
    height: 9.56rem;   
}
.vedio-unit span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/police-headline/icon-play.png) center center / 1.78rem no-repeat;
    z-index: 10;
}
.vedio-unit img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*按钮部分*/
.btn-wrap {
    /* font-size: 0;
    width: 100%;
    padding: 0.44rem 0; */
    font-size: 0;
    width: 100%;
    height: 1.67rem;
}
.btn-wrap a {
    display: inline-block;
    height: 100%;
    cursor:pointer;
}
.btn-wrap span {
    display: inline-block;
}
.btn-share {
    margin-left: 6.8%;
    width: 27.4%;
}
.btn-share .icon {
    width: .67rem; /* .64rem*/
    height: 100%;
    background: url(../img/police-headline/icon-share.png) left center / 100% no-repeat;
}
.btn-share .num,
.btn-praise .num,
.btn-collect .num {
    /* position: relative;
    top: -.06rem;
    margin-left: 0.33rem; */
    vertical-align: top;
    margin: .1rem 0 0 .33rem;
    line-height: 1.67rem;
}

.btn-collect .icon {
    width: .67rem;
    height: 100%;
}
.btn-collect .collected {
    background: url(../img/police-headline/already_collection2.png) left center / 100% no-repeat;
}
.btn-collect .uncollected {
    background: url(../img/police-headline/icon-collect.png) left center / 100% no-repeat;
} 

.btn-praise .icon {
    width: .67rem;  /* .67rem */
    height: 100%;
}
.btn-praise .praised {
    background: url(../img/police-headline/icon_zxzan_select.png) left center / 100% no-repeat;
}
.btn-praise .unpraised {
    background: url(../img/police-headline/icon-praise.png) left center / 100% no-repeat;
} 
.btn-collect {
    margin-left: 10%;
    width: 25%;
}
.btn-praise {
    margin-left: 10%;
    width: 20.8%;
}
/*警微热点内容样式*/
.content-text {
    font-size: .72rem;
    line-height: .72rem;
}
.swiper-container .city-news  {
    padding: 0;
}

/*=警微热点样式 end=*/


/*====推荐样式、本地、警微热点样式 end====*/
/*===================首页end============================*/
.f22 {
    font-size: 0.49rem;
}
.empty {
    background: #fff;
}
.mui-preview-btn,
.save-logo {
    cursor:pointer;
}
.article-sec img {
    height: .72rem;
}
.mui-content-padded {
    margin: 0;
}
/* 首页全文透明度效果 */
.add-opacity {
    background: rgba(76,114,255, .1);
}
/*分享内容列表样式修改*/
.share-list {
    overflow-y: hidden;
}
/* .content-container {
    height: .46rem;
    width: 100%;
}
 */