/* ========消息======== start */

.infos-type-content {
    padding-top: 2.7rem;
    width: 100%;
}

.infos-type-content li {
    display: inline-block;
    width: 100%;
}
.infos-type-icon img {
    display: inline-block;
    width: 1.92rem;
    height: 1.92rem;
}

.infos-type-content a {
    padding: 0.44rem 2.8% 0.44rem 4.2%;
    display: inline-block;
    width: 93%;
    border-bottom: 1px solid #eaeaea;
}

.infos-type-details {
    margin-left: 0.68rem;
    width: 80%;
}

.infos-type-title-date {
    width: 100%;
    font-size: 0;
    /* 去除span之间的间距 */
}

.infos-type-title {
    display: inline-block;
    width: 50%;
}

.infos-type-date {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.infos-type-instro {
    margin-top: 0.444444rem;
}


/* 小红点 */

.icon-red {
    position: absolute;
    left: 2.25rem;
    width: 0.68rem;
    height: 0.68rem;
    border-radius: 50%;
    background: #ff3824;
    color: #fff;
    font-size: 0.533333rem;
    line-height: 0.666667rem;
    text-align: center;
}

.infos-type-wrap .empty-ad {
    padding-top: 2.1rem;
    height: 10rem;
    background: url(./public/wcportal/0.0.1/img/service-hall/message-emptys.png) no-repeat center bottom;
    background-size: 5.8rem 6.4rem;
}

.infos-type-wrap .empty p {
    line-height: 1.88rem;
}
/* ========消息======== end */