.operation {
	/* position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden; */
}
.operation-inner {
	width: 100%;
	height: 100%;
	position:fixed;  
	top:50%;  
	left:50%;  
	margin-left:-4.66rem; 
	margin-top:-2.55rem; 
	z-index: 1060;
	width: 9.32rem;
	height: 5.11rem;
	border-radius: 3%;
	background-color: #ffffff;
	box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.1);
	-webkit-transition: .3s;
    transition: .3s;
	-webkit-transform: translateY(1500px);
    transform: translateY(1500px);

}
.operation-header {
	width: 100%;
	height: 1.55rem;
	line-height: 1.55rem;
	text-align: center;
	color: #999999;
	font-size: 0.67rem;
}
.operation-body {
	width: 100%;
	text-align: center;
	color: #49c887;
	font-size: 0.67rem;
}
.operation-body  a{
	display: block;
	width: 100%;
	line-height: 1.77rem;
	height: 1.77rem;
	text-align: center;
	color: #49c887;
	font-size: 0.67rem;
	border-bottom: 1px solid #e5e5e5;
}
.operation-body  a:last-child{
	border: 0;
}
.operation-inner.active {
	-webkit-transform: translateY(0px);
    transform: translateY(0px);
}
.android-5-1 .operation-inner {
	/*bottom: -300px;
	-webkit-transition-property: bottom;
	-webkit-transform: none;*/
}
.android-5-1 .operation-inner.active {
	/*bottom: 0px;
	-webkit-transition-property: bottom;
	-webkit-transform: none;*/
}