.station-image-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  background-color: #f7f7f7;
}
.station-image-top-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  padding:10px 0;
  margin-bottom: 10px;
}
.station-image-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.station-image-form-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  label{
    font-weight: 600;
  }
}

.station-image-button{
  margin: 4px;
}
.station-image-table-container{
  width: 100%;
  box-sizing: border-box;
  //padding: 10px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.station-image-table{
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  table{
    thead{
      th{
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
  }
}