.fee-import-container{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.fee-import-current-container{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fee-import-label{
  font-size: 14px;
  font-weight: 600;
  margin: 6px;
  color:black;
  letter-spacing: 1px;
}

.fee-import-current-time{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 0;
}

.fee-import-content{
  font-size: 14px;
  font-weight: 600;
  margin: 6px;
  color:rgba(0, 0, 0, 0.5);
}

.fee-import-templet-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 10px 0;
}

.fee-import-table{
  width: 100%;
  align-self: center;
  table{
    thead{
      th{
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
  }
}

.fee-import-templet{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fee-import-upload-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fee-import-upload-box{
  display: flex;
  flex-direction: column;
  position: relative;
  span{
    color: red;
  }
}

.fee-import-upload-btn{
  span{
    color: white;
  }
}


.fee-import-upload-input{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: 1000;
}

.fee-import-templet-download{
  color: #1890FA;
  background-color: transparent;
  cursor: pointer;
}

.fee-import-table-hint{
  margin: 6px 10px 0 10px;
  color: red;
  font-size: 12px;
}

.fee-import-file-name{
  color: rgba(0, 0, 0, 0.65);
  margin-left: 4px;
}