#preloader_1{
    position: relative;
    top: 50px;
    left: 50px;
}

#preloader_1 span {
    display:block;
    bottom:0px;
    width: 3px;
    height: 30px;
    background: #999;
    position:absolute;
    -webkit-animation: preloader_1 2s infinite ease-in-out;
    -moz-animation: preloader_1 2s infinite ease-in-out;
    -ms-animation: preloader_1 2s infinite ease-in-out;
    animation: preloader_1 2s infinite ease-in-out;
}

#preloader_1 span:nth-child(2){
    left:6px;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -ms-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
}

#preloader_1 span:nth-child(3){
    left:12px;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -ms-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-delay: .4s;
}

#preloader_1 span:nth-child(4){
    left:18px;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-delay: .6s;
}

#preloader_1 span:nth-child(5){
    left:24px;
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -ms-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s;
}

@-webkit-keyframes preloader_1 {
    0% {height:30px;-webkit-transform:translateY(0px);background:#999;}
    25% {height:30px;-webkit-transform:translateY(0px);background:#3498db;}
    50% {height:30px;-webkit-transform:translateY(0px);background:#999;}
    100% {height:30px;-webkit-transform:translateY(0px);background:#999;}
}

@-moz-keyframes preloader_1 {
    0% {height:30px;-webkit-transform:translateY(0px);background:#999;}
    25% {height:30px;-webkit-transform:translateY(0px);background:#3498db;}
    50% {height:30px;-webkit-transform:translateY(0px);background:#999;}
    100% {height:30px;-webkit-transform:translateY(0px);background:#999;}
}

@-ms-keyframes preloader_1 {
    0% {height:30px;-webkit-transform:translateY(0px);background:#999;}
    25% {height:30px;-webkit-transform:translateY(0px);background:#3498db;}
    50% {height:30px;-webkit-transform:translateY(0px);background:#999;}
    100% {height:30px;-webkit-transform:translateY(0px);background:#999;}
}

@keyframes preloader_1{
    0% {height:30px;-webkit-transform:translateY(0px);background:#999;}
    25% {height:30px;-webkit-transform:translateY(0px);background:#3498db;}
    50% {height:30px;-webkit-transform:translateY(0px);background:#999;}
    100% {height:30px;-webkit-transform:translateY(0px);background:#999;}
}