$interests-container:interests-container;

.interests-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 16px;
    background-color: #f5f6fb;
}

.interests-table{
    width: 100%;
    background-color: white;

    // tr:nth-child(2){
    //     max-width: 20px;
    //     overflow: hidden;
    //     white-space: nowrap;
    //     text-overflow: ellipsis;
    // }

    td:nth-child(3){
        max-width: 50px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    td:nth-child(4){
        max-width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    td:nth-child(5){
        max-width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.interests-table-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.interests-td-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.interests-td-logo-image{
    min-width: 30px;
    height: 30px;
}

.interests-td-page{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.interests-td-coupon{
    display: flex;
    flex-direction: column;

    span{
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
   
}

