$order-input: 150px;

.order-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.order-more{
  width: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  color: #1890ff;
  font-size: 10px;
  a{
    font-size: 12px;
    color: #1890ff;
  }
}

.order-search-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
}

.order-search-open{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  //padding: 0;
}

.order-search-first{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.order-search-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1px;
}

.order-table-container {
  background-color: white;
  margin-top: 10px;
  width: 100%;
}

.order-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 1px 5px 1px;
  padding: 0;
  div {
    width: 110px;
    color: black;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 15px;
    font-weight: bold;
  }
  .order-data-picker{
    width: 150px;
    div{
      width: 100%;
      margin: 0;
    }
  }
}

.order-input-hint{
  width: 110px;
  color: black;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  margin-right: 5px;
  margin-left: 15px;
  font-weight: bold;
}

.order-input-special{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //margin: 0px 1px 0 1px;
  margin: 0px 1px 5px 1px;
  padding: 0;
}

.order-collapsed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 0;
}

.order-input-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 5px 1px 0 1px;
  div {
    color: black;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-right: 5px;
    font-weight: bold;
  }
}

.order-btn-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  align-self: center;
}

.order-table{
  width: 100%;
  table{
    thead{
      th{
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
  }
}
.row-class{
  color: #d15a52;
}
.order-export-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  //padding: 4px 10px;
}
.order-export-container-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  //justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}
.order-export-text{
  //font-weight: bold;
  font-size: 13px;
  width: 100%;
  padding: 5px;
  color: rgba(241, 122, 31, 0.68);
}
.order-export-label-text{
  font-weight: bold;
  font-size: 14px;
  margin-right: 5px;
  width: 100%;
  padding: 10px;
  color: #c90000;
}